CMakeCache.txt
cmake_install.cmake
install_manifest.txt
share/
share/**
Makefile
CMakeFiles/
CMakeFiles/**
CMakeFiles/**
jworld
emotion
iDevER
percepction
propioception
memory
.cproject
.project
.settings/
log/*.log
*.o
*.out
*.dir/**



